.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

html {
    font-family: 'Lato', sans-serif;
    color: #333;
}

body {
    background: #000000;
}

div#status-bar {
    color: #D0CCCC;
    z-index: 2;
    position: fixed;
    text-align: center;
    width: 100%;
    margin-top: 40px;
    background: rgba(128, 128, 128, 0.5);
    line-height: 30px;
}

#content {
    position: absolute;
    display: grid;
    margin: 2rem auto;
    grid-template-areas: "left header right"
                        "left main right"
                        "left bottom right";
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 20% 60% 20%;
}

#audio-visualisation {
    display: grid;
    grid-area: main;
    width: 100%;
    background: #1B1B1B;
}

main {
    display: grid;
    justify-content: center;
}

#slider-controls {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
}

.slider-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px; 
}

.category-title {
    text-align: center;
    color: #848484;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.slider-checkbox {
    margin-top: 35px;
    padding-left: 15px;
    height: 20px;
}

.left-col {
    display: grid;
    grid-area: left;
    justify-content: center;
}

.right-col {
    display: grid;
    grid-area: right;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked + label:before {
    content: "ACTIVE";
    text-align: center;
    font-size: 15px;
    color: #c4b8b8;
    background-color: #EC3139;
}

label.checkbox-label:before {
    content: "";
    display: grid;
    width: 100px;
    height: 20px;
    background-color: #aaa;
    border-radius: 9px;
    margin-left: 60px;
}

input[type=range] {
    width: 50px;
    height: 120px;
    border-radius: 40%;
}

input[type=range]::-webkit-slider-runnable-track {
    background-color: #333;
    width: 6px;
}

input[type=range]::-moz-range-track {
    background-color: #333;
    width: 6px;
}

input[type=range]::-ms-track {
    background-color: #333;
    width: 6px;
    height: 120px;
    margin: 0px;
    padding: 0px;
    border: 0 none;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /*border: 1px solid #000000;*/
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: 990px;
    margin-left: -5px;
    outline: 0;
}

input[type=range]::-moz-range-thumb {
    width: 10px;
    height: 15px;
    border-radius: 0%;
}

input[type=range]::-ms-thumb {
    width: 15px;
    height: 15px;
    border-radius: 90%;
    margin-left: 0;
    background: #ffffff;
}

.slider {
    float: left;
}

.slider-label {
    width: 50px;
    text-align: center;
    font-size: 0.7em;
    color: #757575;
    margin-top: 5px;
}

.control-category:before {
    content:'';
    position: absolute;
    width: 1px;
    top: 0;
    height: 180px;
    background: #3E3E3E;
}

#instructions {
    margin: 0 auto;
    color: #848484;
    font-size: 0.9em;
}

#controls {
    display: grid;
    grid-area: bottom;
    justify-content: center;
    padding-top: 40px;
    font-size: 1.3em;
    color: #848484;
    font-family: sans-serif;
}

#controls>div {
    margin: 10px;
    cursor: pointer;
}

#controls > div:hover {
    margin: 10px;
    cursor: pointer;
    color: #888888;
}